# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare the below matches to be text files, to keep LF eols when
# writing to the working copy, and to convert CRLF to LF eols when adding to the repo.
*.feax text eol=lf
*.fea text eol=lf
*.glif text eol=lf
*.plist text eol=lf

# Declare all files that are truly binary and should not be modified.
*.rawtxt binary
*.xz binary
